body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f8f8f8;
}

#app {
    max-width: 80%;
    margin: 0 auto;
}

#queryForm {
    margin-top: 20px;
}

#dataTable {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
}

#dataTable th,
#dataTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#dataTable th {
    background-color: #f2f2f2;
}

label {
    display: inline-block;
    margin-bottom: 5px;
}

input,
select,
button {
    margin-bottom: 10px;
}
